.block_unanswered_discussions_heading {
    margin-top: 0;
}

.block_unanswered_discussions_item {
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.block_unanswered_discussions_message {
}

.block_unanswered_discussions_date {
    float: left;
    margin-right: .4em;
    color: #999;
}

.block_unanswered_discussions_date.alert {
    padding: 0 2px;
    margin-bottom: 0;
}
